/*.cover-container{*/
/*    background-image:url("../images/meal-g86a405666_1920.jpg") ;*/
/*    object-fit: scale-down;*/
/*    background-repeat:no-repeat ;*/
/*    background-attachment: fixed;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    font-family: 'Cairo', sans-serif;
}

:root {
    --primary: #072ea5;
    --primary-hover: #0D7ADF;
    --secondry: #30cfd0;
    --secondry-hover: #FFE0B1;

    --third-color: #00D500 ;
    --third-fourth-hover: #FF0000 ;

    --third-white: #FFCF00 ;

    --bs-primary-rgb: 7, 46, 165;
    --bs-primary-hover-rgb: 13, 122, 233;
    --bs-secondry-rgb: 48, 207, 208;
    --bs-secondry-hover-rgb: 255, 224, 177;
    --bs-third-rgb: 0, 213, 0;
    --bs-fourth-rgb: 255, 0, 0;

    --bs-blue-rgb:66, 103, 178;
    --bs-green-rgb:37, 211,102;

    --body-mode:#fff;
    --text-color:#000;
    --shadow-color: #252525;
    --bg-white:#fff;

}

::selection {
    color: black;
    background: var(--secondry-hover);
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-primary-hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-hover-rgb), var(--bs-bg-opacity)) !important;
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondry-rgb), var(--bs-bg-opacity)) !important;
}

.bg-secondary-hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondry-hover-rgb), var(--bs-bg-opacity)) !important;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondry-rgb), var(--bs-text-opacity)) !important;
}
.text-blue {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-blue-rgb), var(--bs-text-opacity)) !important;
}
.text-green {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-green-rgb), var(--bs-text-opacity)) !important;
}

.font-size-icon{
    font-size: 2.5rem !important;

}

@media (min-width: 576px) {

    .font-size-sm-0 {
        font-size: 0.7rem !important;

    }

    .font-size-sm-1 {
        font-size: 1.1rem !important;

    }

    .font-size-sm-2 {
        font-size: 2.2rem !important;

    }

    .font-size-sm-3 {
        font-size: 4.4rem !important;

    }



    .font-size-sm-4 {
        font-size: 8.8rem !important;

    }

    .font-size-sm-5 {
        font-size: 16.6rem !important;

    }


    .h-sm-100-px {
        height: 100px !important;
    }

    .h-sm-125-px {
        height: 125px !important;
    }

    .h-sm-150-px {
        height: 150px !important;
    }

    .h-sm-175-px {
        height: 175px !important;
    }

    .h-sm-200-px {
        height: 200px !important;
    }

    .h-sm-225-px {
        height: 225px !important;
    }

    .h-sm-250-px {
        height: 250px !important;
    }

    .h-sm-275-px {
        height: 275px !important;
    }

    .h-sm-300-px {
        height: 300px !important;
    }


    .h-sm-10 {
        height: 10% !important;
    }

    .h-sm-15 {
        height: 15% !important;
    }

    .h-sm-20 {
        height: 20% !important;
    }

    .h-sm-25 {
        height: 25% !important;
    }

    .h-sm-30 {
        height: 30% !important;
    }

    .h-sm-35 {
        height: 35% !important;
    }

    .h-sm-40 {
        height: 40% !important;
    }

    .h-sm-45 {
        height: 45% !important;
    }

    .h-sm-50 {
        height: 50% !important;
    }

    .h-sm-55 {
        height: 55% !important;
    }

    .h-sm-60 {
        height: 60% !important;
    }

    .h-sm-65 {
        height: 65% !important;
    }

    .h-sm-70 {
        height: 70% !important;
    }

    .h-sm-75 {
        height: 75% !important;
    }

    .h-sm-100 {
        height: 100% !important;
    }


    .col-sm {
        flex: 1 0 0%;
    }

    .row-cols-sm-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-sm-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-sm-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-sm-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-sm-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-sm-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-sm-6 > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.33333333%;
    }

    .offset-sm-2 {
        margin-left: 16.66666667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33333333%;
    }

    .offset-sm-5 {
        margin-left: 41.66666667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.33333333%;
    }

    .offset-sm-8 {
        margin-left: 66.66666667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.33333333%;
    }

    .offset-sm-11 {
        margin-left: 91.66666667%;
    }

    .g-sm-0,
    .gx-sm-0 {
        --bs-gutter-x: 0;
    }

    .g-sm-0,
    .gy-sm-0 {
        --bs-gutter-y: 0;
    }

    .g-sm-1,
    .gx-sm-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-sm-1,
    .gy-sm-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-sm-2,
    .gx-sm-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-sm-2,
    .gy-sm-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-sm-3,
    .gx-sm-3 {
        --bs-gutter-x: 1rem;
    }

    .g-sm-3,
    .gy-sm-3 {
        --bs-gutter-y: 1rem;
    }

    .g-sm-4,
    .gx-sm-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-sm-4,
    .gy-sm-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-sm-5,
    .gx-sm-5 {
        --bs-gutter-x: 3rem;
    }

    .g-sm-5,
    .gy-sm-5 {
        --bs-gutter-y: 3rem;
    }
}

@media (min-width: 768px) {

    .h-md-100-px {
        height: 100px !important;
    }

    .h-md-125-px {
        height: 125px !important;
    }

    .h-md-150-px {
        height: 150px !important;
    }

    .h-md-175-px {
        height: 175px !important;
    }

    .h-md-200-px {
        height: 200px !important;
    }

    .h-md-225-px {
        height: 225px !important;
    }

    .h-md-250-px {
        height: 250px !important;
    }

    .h-md-275-px {
        height: 275px !important;
    }

    .h-md-300-px {
        height: 300px !important;
    }

    .h-md-325-px {
        height: 325px !important;
    }

    .h-md-10 {
        height: 10% !important;
    }

    .h-md-15 {
        height: 15% !important;
    }

    .h-md-20 {
        height: 20% !important;
    }

    .h-md-25 {
        height: 25% !important;
    }

    .h-md-30 {
        height: 30% !important;
    }

    .h-md-35 {
        height: 35% !important;
    }

    .h-md-40 {
        height: 40% !important;
    }

    .h-md-45 {
        height: 45% !important;
    }

    .h-md-50 {
        height: 50% !important;
    }

    .h-md-55 {
        height: 55% !important;
    }

    .h-md-60 {
        height: 60% !important;
    }

    .h-md-65 {
        height: 65% !important;
    }

    .h-md-70 {
        height: 70% !important;
    }

    .h-md-75 {
        height: 75% !important;
    }

    .h-md-100 {
        height: 100% !important;
    }


    .col-md {
        flex: 1 0 0%;
    }

    .row-cols-md-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-md-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-md-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-md-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-md-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-md-6 > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333333%;
    }

    .offset-md-2 {
        margin-left: 16.66666667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333333%;
    }

    .offset-md-5 {
        margin-left: 41.66666667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333333%;
    }

    .offset-md-8 {
        margin-left: 66.66666667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333333%;
    }

    .offset-md-11 {
        margin-left: 91.66666667%;
    }

    .g-md-0,
    .gx-md-0 {
        --bs-gutter-x: 0;
    }

    .g-md-0,
    .gy-md-0 {
        --bs-gutter-y: 0;
    }

    .g-md-1,
    .gx-md-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-md-1,
    .gy-md-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-md-2,
    .gx-md-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-md-2,
    .gy-md-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-md-3,
    .gx-md-3 {
        --bs-gutter-x: 1rem;
    }

    .g-md-3,
    .gy-md-3 {
        --bs-gutter-y: 1rem;
    }

    .g-md-4,
    .gx-md-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-md-4,
    .gy-md-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-md-5,
    .gx-md-5 {
        --bs-gutter-x: 3rem;
    }

    .g-md-5,
    .gy-md-5 {
        --bs-gutter-y: 3rem;
    }

}

@media (min-width: 992px) {

    .h-lg-100-px {
        height: 100px !important;
    }

    .h-lg-125-px {
        height: 125px !important;
    }

    .h-lg-150-px {
        height: 150px !important;
    }

    .h-lg-175-px {
        height: 175px !important;
    }

    .h-lg-200-px {
        height: 200px !important;
    }

    .h-lg-225-px {
        height: 225px !important;
    }

    .h-lg-250-px {
        height: 250px !important;
    }

    .h-lg-275-px {
        height: 275px !important;
    }

    .h-lg-300-px {
        height: 300px !important;
    }


    .h-lg-10 {
        height: 10% !important;
    }

    .h-lg-15 {
        height: 15% !important;
    }

    .h-lg-20 {
        height: 20% !important;
    }

    .h-lg-25 {
        height: 25% !important;
    }

    .h-lg-30 {
        height: 30% !important;
    }

    .h-lg-35 {
        height: 35% !important;
    }

    .h-lg-40 {
        height: 40% !important;
    }

    .h-lg-45 {
        height: 45% !important;
    }

    .h-lg-50 {
        height: 50% !important;
    }

    .h-lg-55 {
        height: 55% !important;
    }

    .h-lg-60 {
        height: 60% !important;
    }

    .h-lg-65 {
        height: 65% !important;
    }

    .h-lg-70 {
        height: 70% !important;
    }

    .h-lg-75 {
        height: 75% !important;
    }

    .h-lg-100 {
        height: 100% !important;
    }


    .col-lg {
        flex: 1 0 0%;
    }

    .row-cols-lg-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-lg-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-lg-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-lg-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-lg-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-lg-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-lg-6 > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.33333333%;
    }

    .offset-lg-2 {
        margin-left: 16.66666667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33333333%;
    }

    .offset-lg-5 {
        margin-left: 41.66666667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.33333333%;
    }

    .offset-lg-8 {
        margin-left: 66.66666667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.33333333%;
    }

    .offset-lg-11 {
        margin-left: 91.66666667%;
    }

    .g-lg-0,
    .gx-lg-0 {
        --bs-gutter-x: 0;
    }

    .g-lg-0,
    .gy-lg-0 {
        --bs-gutter-y: 0;
    }

    .g-lg-1,
    .gx-lg-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-lg-1,
    .gy-lg-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-lg-2,
    .gx-lg-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-lg-2,
    .gy-lg-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-lg-3,
    .gx-lg-3 {
        --bs-gutter-x: 1rem;
    }

    .g-lg-3,
    .gy-lg-3 {
        --bs-gutter-y: 1rem;
    }

    .g-lg-4,
    .gx-lg-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-lg-4,
    .gy-lg-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-lg-5,
    .gx-lg-5 {
        --bs-gutter-x: 3rem;
    }

    .g-lg-5,
    .gy-lg-5 {
        --bs-gutter-y: 3rem;
    }
}

@media (min-width: 1200px) {


    .h-xl-100-px {
        height: 100px !important;
    }

    .h-xl-125-px {
        height: 125px !important;
    }

    .h-xl-150-px {
        height: 150px !important;
    }

    .h-xl-175-px {
        height: 175px !important;
    }

    .h-xl-200-px {
        height: 200px !important;
    }

    .h-xl-225-px {
        height: 225px !important;
    }

    .col-xl {
        flex: 1 0 0%;
    }

    .row-cols-xl-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-xl-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-xl-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-xl-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-xl-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-xl-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-xl-6 > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-xl-0 {
        margin-left: 0;
    }

    .offset-xl-1 {
        margin-left: 8.33333333%;
    }

    .offset-xl-2 {
        margin-left: 16.66666667%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.33333333%;
    }

    .offset-xl-5 {
        margin-left: 41.66666667%;
    }

    .offset-xl-6 {
        margin-left: 50%;
    }

    .offset-xl-7 {
        margin-left: 58.33333333%;
    }

    .offset-xl-8 {
        margin-left: 66.66666667%;
    }

    .offset-xl-9 {
        margin-left: 75%;
    }

    .offset-xl-10 {
        margin-left: 83.33333333%;
    }

    .offset-xl-11 {
        margin-left: 91.66666667%;
    }

    .g-xl-0,
    .gx-xl-0 {
        --bs-gutter-x: 0;
    }

    .g-xl-0,
    .gy-xl-0 {
        --bs-gutter-y: 0;
    }

    .g-xl-1,
    .gx-xl-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-xl-1,
    .gy-xl-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-xl-2,
    .gx-xl-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-xl-2,
    .gy-xl-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-xl-3,
    .gx-xl-3 {
        --bs-gutter-x: 1rem;
    }

    .g-xl-3,
    .gy-xl-3 {
        --bs-gutter-y: 1rem;
    }

    .g-xl-4,
    .gx-xl-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-xl-4,
    .gy-xl-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-xl-5,
    .gx-xl-5 {
        --bs-gutter-x: 3rem;
    }

    .g-xl-5,
    .gy-xl-5 {
        --bs-gutter-y: 3rem;
    }
}

@media (min-width: 1400px) {

    .h-xxl-100-px {
        height: 100px !important;
    }

    .h-xxl-125-px {
        height: 125px !important;
    }

    .h-xxl-150-px {
        height: 150px !important;
    }

    .h-xxl-175-px {
        height: 175px !important;
    }

    .h-xxl-200-px {
        height: 200px !important;
    }

    .h-xxl-225-px {
        height: 225px !important;
    }

    .col-xxl {
        flex: 1 0 0%;
    }

    .row-cols-xxl-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-xxl-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-xxl-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-xxl-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-xxl-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-xxl-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-xxl-6 > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-xxl-0 {
        margin-left: 0;
    }

    .offset-xxl-1 {
        margin-left: 8.33333333%;
    }

    .offset-xxl-2 {
        margin-left: 16.66666667%;
    }

    .offset-xxl-3 {
        margin-left: 25%;
    }

    .offset-xxl-4 {
        margin-left: 33.33333333%;
    }

    .offset-xxl-5 {
        margin-left: 41.66666667%;
    }

    .offset-xxl-6 {
        margin-left: 50%;
    }

    .offset-xxl-7 {
        margin-left: 58.33333333%;
    }

    .offset-xxl-8 {
        margin-left: 66.66666667%;
    }

    .offset-xxl-9 {
        margin-left: 75%;
    }

    .offset-xxl-10 {
        margin-left: 83.33333333%;
    }

    .offset-xxl-11 {
        margin-left: 91.66666667%;
    }

    .g-xxl-0,
    .gx-xxl-0 {
        --bs-gutter-x: 0;
    }

    .g-xxl-0,
    .gy-xxl-0 {
        --bs-gutter-y: 0;
    }

    .g-xxl-1,
    .gx-xxl-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-xxl-1,
    .gy-xxl-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-xxl-2,
    .gx-xxl-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-xxl-2,
    .gy-xxl-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-xxl-3,
    .gx-xxl-3 {
        --bs-gutter-x: 1rem;
    }

    .g-xxl-3,
    .gy-xxl-3 {
        --bs-gutter-y: 1rem;
    }

    .g-xxl-4,
    .gx-xxl-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-xxl-4,
    .gy-xxl-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-xxl-5,
    .gx-xxl-5 {
        --bs-gutter-x: 3rem;
    }

    .g-xxl-5,
    .gy-xxl-5 {
        --bs-gutter-y: 3rem;
    }
}

.img-card .img-section {
    width: 40%;
    border-radius: 8px 0 0 8px;
    max-width: 200px;
    position: relative;
}

.img-card .img-section.vertical-restaurants {
    background-color: orangered;
}

.img-card .img-section img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 164px;
}

.img-card .details-section {
    width: 60%;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 0 8px 8px 0;
    border-left: 0;
    position: relative;
    padding-bottom: 42px;
}

.img-card .details-section .heading {
    font-size: 24px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 8px;
}

.img-card .details-section .card-desc {
    color: #121212;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 21px;
}

.card-cta {
    font-size: 16px;
    font-weight: 500;
    color: #fa5b1a;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.orders-labels-card {
    transition: 0.5s!important;
    box-shadow: 0.5px 0.5px 3px 0 gray;
}

.orders-labels-card:hover {
    transform: scale(1.02, 1.01);
    box-shadow: 2px 2px 6px 1px gray;
}

.top-5 {
    top: 5% !important;
}

.top-10 {
    top: 10% !important;
}

.top-15 {
    top: 15% !important;
}

.top-20 {
    top: 20% !important;
}

.top-25 {
    top: 25% !important;
}

.top-30 {
    top: 30% !important;
}

.top-35 {
    top: 35% !important;
}

.top-40 {
    top: 40% !important;
}

.top-45 {
    top: 45% !important;
}

.top-50 {
    top: 50% !important;
}

.top-55 {
    top: 55% !important;
}

.top-60 {
    top: 60% !important;
}

.top-65 {
    top: 65% !important;
}

.top-70 {
    top: 70% !important;
}

.top-75 {
    top: 75% !important;
}

.top-80 {
    top: 80% !important;
}

.top-85 {
    top: 85% !important;
}

.top-90 {
    top: 90% !important;
}

.top-95 {
    top: 95% !important;
}

.top-100 {
    top: 100% !important;
}


.start-5 {
    left: 5% !important;
}

.start-10 {
    left: 10% !important;
}

.start-15 {
    left: 15% !important;
}

.start-20 {
    left: 20% !important;
}

.start-25 {
    left: 25% !important;
}

.start-30 {
    left: 30% !important;
}

.start-35 {
    left: 35% !important;
}

.start-40 {
    left: 40% !important;
}

.start-45 {
    left: 45% !important;
}

.start-50 {
    left: 50% !important;
}

.start-55 {
    left: 55% !important;
}

.start-60 {
    left: 60% !important;
}

.start-65 {
    left: 65% !important;
}

.start-70 {
    left: 70% !important;
}

.start-75 {
    left: 75% !important;
}

.start-80 {
    left: 80% !important;
}

.start-85 {
    left: 85% !important;
}

.start-90 {
    left: 90% !important;
}

.start-95 {
    left: 95% !important;
}

.start-100 {
    left: 100% !important;
}

.end-5 {
    right: 5% !important;
}

.end-10 {
    right: 10% !important;
}

.end-15 {
    right: 15% !important;
}

.end-20 {
    right: 20% !important;
}

.end-25 {
    right: 25% !important;
}

.end-30 {
    right: 30% !important;
}

.end-35 {
    right: 35% !important;
}

.end-40 {
    right: 40% !important;
}

.end-45 {
    right: 45% !important;
}

.end-50 {
    right: 50% !important;
}

.end-55 {
    right: 55% !important;
}

.end-60 {
    right: 60% !important;
}

.end-65 {
    right: 65% !important;
}

.end-70 {
    right: 70% !important;
}

.end-75 {
    right: 75% !important;
}

.end-80 {
    right: 80% !important;
}

.end-85 {
    right: 85% !important;
}

.end-90 {
    right: 90% !important;
}

.end-95 {
    right: 95% !important;
}

.end-100 {
    right: 100% !important;
}


.bottom-5 {
    bottom: 5% !important;
}

.bottom-10 {
    bottom: 10% !important;
}

.bottom-15 {
    bottom: 15% !important;
}

.bottom-20 {
    bottom: 20% !important;
}

.bottom-25 {
    bottom: 25% !important;
}

.bottom-30 {
    bottom: 30% !important;
}

.bottom-35 {
    bottom: 35% !important;
}

.bottom-40 {
    bottom: 40% !important;
}

.bottom-45 {
    bottom: 45% !important;
}

.bottom-50 {
    bottom: 50% !important;
}

.bottom-55 {
    bottom: 55% !important;
}

.bottom-60 {
    bottom: 60% !important;
}

.bottom-65 {
    bottom: 65% !important;
}

.bottom-70 {
    bottom: 70% !important;
}

.bottom-75 {
    bottom: 75% !important;
}

.bottom-80 {
    bottom: 80% !important;
}

.bottom-85 {
    bottom: 85% !important;
}

.bottom-90 {
    bottom: 90% !important;
}

.bottom-95 {
    bottom: 95% !important;
}

.bottom-100 {
    bottom: 100% !important;
}

.bg-opacity-5 {
    --bs-bg-opacity: 0.05;
}

.bg-opacity-10 {
    --bs-bg-opacity: 0.1;
}

.bg-opacity-15 {
    --bs-bg-opacity: 0.15;
}

.bg-opacity-20 {
    --bs-bg-opacity: 0.20;
}

.bg-opacity-25 {
    --bs-bg-opacity: 0.25;
}

.bg-opacity-30 {
    --bs-bg-opacity: 0.30;
}

.bg-opacity-35 {
    --bs-bg-opacity: 0.35;
}

.bg-opacity-40 {
    --bs-bg-opacity: 0.40;
}

.bg-opacity-45 {
    --bs-bg-opacity: 0.45;
}

.bg-opacity-50 {
    --bs-bg-opacity: 0.50;
}

.bg-opacity-55 {
    --bs-bg-opacity: 0.55;
}

.bg-opacity-60 {
    --bs-bg-opacity: 0.60;
}

.bg-opacity-65 {
    --bs-bg-opacity: 0.65;
}

.bg-opacity-70 {
    --bs-bg-opacity: 0.70;
}

.bg-opacity-75 {
    --bs-bg-opacity: 0.75;
}

.bg-opacity-80 {
    --bs-bg-opacity: 0.80;
}

.bg-opacity-85 {
    --bs-bg-opacity: 0.85;
}

.bg-opacity-90 {
    --bs-bg-opacity: 0.90;
}

.bg-opacity-95 {
    --bs-bg-opacity: 0.95;
}

.bg-opacity-100 {
    --bs-bg-opacity: 0.100;
}

.font-roboto {
    font-family: 'Roboto', sans-serif !important;


}

.font-cairo {
    font-family: 'Cairo', sans-serif !important;
}

.font-lato {
    font-family: 'Lato', sans-serif !important;
}

.font-tajawal {
    font-family: 'Tajawal', sans-serif !important;
}

.font-size-card {
    font-size: 0.9rem !important;
    word-spacing: 1px;
}

.font-size-card {
    font-size: 0.9rem !important;
    line-height: 18px;
}


.font-size-0-rem {
    font-size: 0.5rem !important;
}

.font-size-1-rem {
    font-size: 1rem !important;
}
.font-size-2-rem {
    font-size: 1.5rem !important;

}
.font-size-3-rem {
    font-size: 2rem !important;

}
.font-size-4-rem {
    font-size: 2.5rem !important;

}
.font-size-5-rem {
    font-size: 3rem !important;

}

.font-size-0 {
    font-size: 0.7rem !important;

}

.font-size-1 {
    font-size: 1.1rem !important;

}

.font-size-2 {
    font-size: 2.2rem !important;

}

.font-size-3 {
    font-size: 4.4rem !important;

}



.font-size-4 {
    font-size: 8.8rem !important;

}

.font-size-5 {
    font-size: 16.6rem !important;

}

.font-weight-1 {
    font-weight: 200 !important;
}

.font-weight-2 {
    font-weight: 400 !important;
}

.font-weight-3 {
    font-weight: 600 !important;
}

.font-weight-4 {
    font-weight: 800 !important;
}

.font-weight-5 {
    font-weight: 1000 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.custom-shape-divider-bottom-1663345094 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663345094 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 102px;
}

.custom-shape-divider-bottom-1663345094 .shape-fill {
    fill: var(--body-mode);
}


.dark-mode{
    --body-mode: #212529;
    --text-color: #fff;
}

.body-color{
    background-color:var(--body-mode);
    color: var(--text-color);
}

.custom-shape-divider-bottom-1663371914 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663371914 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
}

.custom-shape-divider-bottom-1663371914 .shape-fill {
    fill: #FFFFFF;
}
